/* input[type=text],
select{
 width: 100%;
 padding: 12px 20px;
 margin:8px 0;
 display:inline-block;
 border: 1px solid #ccc;
 box-sizing: border-box;

}

input[type =submit]{
    width: 100%;
    background-color: rgb(77, 221, 77);
    color: aliceblue;
    padding: 14px 20px;
    margin: 8px  0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: rgb(1, 155, 34);
} */

body {
    font-family: Arial, sans-serif;
    background-image: url('/static/images/Solid-Black-Website-Background.jpg');
    background-position: 70%;

    margin: 0;
    padding: 0;
}
form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    color: #333;
}
label {
    font-weight: bold;
}
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover {
    background-color: #09520c;
}


